<a href="https://colab.research.google.com/github/adilrahman/algomox-assignment/blob/main/level_a/Level_A_Evaluation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!unzip *.zip

Archive:  AIQ1.zip
   creating: AIQ1/
  inflating: AIQ1/AIQ1.docx
  inflating: AIQ1/aml_eval.csv
  inflating: AIQ1/aml_train.csv
  inflating: AIQ1/complaints-2021-09-08_07_12.csv

In [1]:
import pickle
import numpy as np
import pandas as pd

In [2]:
# loading models and standard_scalar
model = pickle.load(open("model.pkl", "rb"))
standard_scalar = pickle.load(open("standardScaler.pkl", "rb"))

In [4]:
# reading the evaluation dataset
eval_df = pd.read_csv("/content/AIQ1/aml_eval.csv")

In [5]:
eval_df.head()

,TxnID,token,TransactionType,amount,SenderID,PrevBalanceSender,CurrentBalanceSender,ReceiverID,PrevBalanceReceiver,CurrentBalanceReceiver,time,Sender Location,Receiver Location,Unnamed: 13
0,39136843796,14,Card,2976.90,UR16378522137,0.00,0.00,UR18616413076,0.00,0.00,17-05-2019 14:18,Boone - North Carolina,South San Francisco - California,94
1,2139691900,541,Cash Withdrawal,107320.81,UR36676057242,107320.81,0.00,UR17048227390,289571.44,396892.25,08-06-2019 13:16,Danville - Pennsylvania,Lumberton - Mississippi,35
2,20660338957,329,Money Order,84312.29,UR16574638712,84312.29,0.00,UR12154241894,0.00,0.00,30-05-2019 17:48,Danville - Pennsylvania,Lumberton - Mississippi,65
3,63179786910,371,Cash Deposit,153757.28,UR37893062645,1821016.76,1974774.04,UR35637447376,759756.00,605998.72,01-06-2019 11:25,Austin - Texas,Birmingham - Alabama,59
4,34659854003,359,Card,5182.58,UR21469012932,21447.00,16264.42,UR36765338284,0.00,0.00,31-05-2019 23:27,Port Monmouth - New Jersey,Plevna - Kansas,63

In [6]:
drop_cols = ['TxnID', 'SenderID', 'ReceiverID', 'Unnamed: 13', 'token', 'time', 'Sender Location', 'Receiver Location']

In [7]:
eval_df.drop(drop_cols,inplace=True, axis = 1)

In [8]:
eval_df

,TransactionType,amount,PrevBalanceSender,CurrentBalanceSender,PrevBalanceReceiver,CurrentBalanceReceiver
0,Card,2976.90,0.00,0.00,0.00,0.00
1,Cash Withdrawal,107320.81,107320.81,0.00,289571.44,396892.25
2,Money Order,84312.29,84312.29,0.00,0.00,0.00
3,Cash Deposit,153757.28,1821016.76,1974774.04,759756.00,605998.72
4,Card,5182.58,21447.00,16264.42,0.00,0.00
...,...,...,...,...,...,...
995,Card,8803.92,12243.79,3439.87,0.00,0.00
996,Cash Deposit,24213.09,5071597.55,5095810.63,32619.98,8406.90
997,Card,5029.59,0.00,0.00,0.00,0.00
998,Cash Withdrawal,10000000.00,10000000.00,0.00,0.00,10000000.00
999,Card,11723.25,0.00,0.00,0.00,0.00

In [9]:
# one-hot encoding the trasaction types
transaction_type = pd.get_dummies(eval_df["TransactionType"])
transaction_type

     Card  Cash Deposit  Cash Withdrawal  Debit Card  Money Order
0       1             0                0           0            0
1       0             0                1           0            0
2       0             0                0           0            1
3       0             1                0           0            0
4       1             0                0           0            0
..    ...           ...              ...         ...          ...
995     1             0                0           0            0
996     0             1                0           0            0
997     1             0                0           0            0
998     0             0                1           0            0
999     1             0                0           0            0

[1000 rows x 5 columns]

In [10]:
## adding the one-hot encoding into the dataset
eval_df_new = pd.concat([transaction_type,eval_df], axis = 1)
eval_df_new

,Card,Cash Deposit,Cash Withdrawal,Debit Card,Money Order,TransactionType,amount,PrevBalanceSender,CurrentBalanceSender,PrevBalanceReceiver,CurrentBalanceReceiver
0,1,0,0,0,0,Card,2976.90,0.00,0.00,0.00,0.00
1,0,0,1,0,0,Cash Withdrawal,107320.81,107320.81,0.00,289571.44,396892.25
2,0,0,0,0,1,Money Order,84312.29,84312.29,0.00,0.00,0.00
3,0,1,0,0,0,Cash Deposit,153757.28,1821016.76,1974774.04,759756.00,605998.72
4,1,0,0,0,0,Card,5182.58,21447.00,16264.42,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...
995,1,0,0,0,0,Card,8803.92,12243.79,3439.87,0.00,0.00
996,0,1,0,0,0,Cash Deposit,24213.09,5071597.55,5095810.63,32619.98,8406.90
997,1,0,0,0,0,Card,5029.59,0.00,0.00,0.00,0.00
998,0,0,1,0,0,Cash Withdrawal,10000000.00,10000000.00,0.00,0.00,10000000.00
999,1,0,0,0,0,Card,11723.25,0.00,0.00,0.00,0.00

In [11]:
eval_df_new.drop("TransactionType", inplace = True, axis = 1)

In [12]:
# standardizing the dataset
eval_df_std = pd.DataFrame(columns = eval_df_new.columns, data = standard_scalar.transform(eval_df_new))
eval_df_std

,Card,Cash Deposit,Cash Withdrawal,Debit Card,Money Order,amount,PrevBalanceSender,CurrentBalanceSender,PrevBalanceReceiver,CurrentBalanceReceiver
0,2.201840,-0.342084,-0.851190,-0.051031,-0.642529,-0.437804,-0.394138,-0.203044,-0.357293,-0.446794
1,-0.454166,-0.342084,1.174826,-0.051031,-0.642529,-0.377623,-0.355469,-0.203044,-0.218356,-0.288630
2,-0.454166,-0.342084,-0.851190,-0.051031,1.556349,-0.390893,-0.363759,-0.203044,-0.357293,-0.446794
3,-0.454166,2.923261,-0.851190,-0.051031,-0.642529,-0.350840,0.261993,0.698252,0.007239,-0.205300
4,2.201840,-0.342084,-0.851190,-0.051031,-0.642529,-0.436532,-0.386410,-0.195621,-0.357293,-0.446794
...,...,...,...,...,...,...,...,...,...,...
995,2.201840,-0.342084,-0.851190,-0.051031,-0.642529,-0.434443,-0.389726,-0.201474,-0.357293,-0.446794
996,-0.454166,2.923261,-0.851190,-0.051031,-0.642529,-0.425556,1.433211,2.122707,-0.341642,-0.443444
997,2.201840,-0.342084,-0.851190,-0.051031,-0.642529,-0.436620,-0.394138,-0.203044,-0.357293,-0.446794
998,-0.454166,-0.342084,1.174826,-0.051031,-0.642529,5.328054,3.208965,-0.203044,-0.357293,3.538264
999,2.201840,-0.342084,-0.851190,-0.051031,-0.642529,-0.432760,-0.394138,-0.203044,-0.357293,-0.446794

In [13]:
## predicting using pre-trained model
pred = model.predict(eval_df_std)
pred[:10]

array([0, 1, 1, 0, 0, 0, 0, 0, 0, 0])

In [14]:
## adding the result with the evaluation dataset
eval_df_with_result = pd.concat([eval_df, pd.Series(pred)], axis = 1)
eval_df_with_result

,TransactionType,amount,PrevBalanceSender,CurrentBalanceSender,PrevBalanceReceiver,CurrentBalanceReceiver,0
0,Card,2976.90,0.00,0.00,0.00,0.00,0
1,Cash Withdrawal,107320.81,107320.81,0.00,289571.44,396892.25,1
2,Money Order,84312.29,84312.29,0.00,0.00,0.00,1
3,Cash Deposit,153757.28,1821016.76,1974774.04,759756.00,605998.72,0
4,Card,5182.58,21447.00,16264.42,0.00,0.00,0
...,...,...,...,...,...,...,...
995,Card,8803.92,12243.79,3439.87,0.00,0.00,0
996,Cash Deposit,24213.09,5071597.55,5095810.63,32619.98,8406.90,0
997,Card,5029.59,0.00,0.00,0.00,0.00,0
998,Cash Withdrawal,10000000.00,10000000.00,0.00,0.00,10000000.00,1
999,Card,11723.25,0.00,0.00,0.00,0.00,0

In [15]:
# changing the last column name
eval_df_with_result.columns = eval_df_with_result.columns.astype(str)
eval_df_with_result.rename(columns = {"0" : "isSuspicious"},inplace=True)
eval_df_with_result

,TransactionType,amount,PrevBalanceSender,CurrentBalanceSender,PrevBalanceReceiver,CurrentBalanceReceiver,isSuspicious
0,Card,2976.90,0.00,0.00,0.00,0.00,0
1,Cash Withdrawal,107320.81,107320.81,0.00,289571.44,396892.25,1
2,Money Order,84312.29,84312.29,0.00,0.00,0.00,1
3,Cash Deposit,153757.28,1821016.76,1974774.04,759756.00,605998.72,0
4,Card,5182.58,21447.00,16264.42,0.00,0.00,0
...,...,...,...,...,...,...,...
995,Card,8803.92,12243.79,3439.87,0.00,0.00,0
996,Cash Deposit,24213.09,5071597.55,5095810.63,32619.98,8406.90,0
997,Card,5029.59,0.00,0.00,0.00,0.00,0
998,Cash Withdrawal,10000000.00,10000000.00,0.00,0.00,10000000.00,1
999,Card,11723.25,0.00,0.00,0.00,0.00,0

### Suspicious transactions in evaluation dataset

In [18]:
eval_df_with_result[eval_df_with_result["isSuspicious"] == 1]

,TransactionType,amount,PrevBalanceSender,CurrentBalanceSender,PrevBalanceReceiver,CurrentBalanceReceiver,isSuspicious
1,Cash Withdrawal,107320.81,107320.81,0.0,289571.44,396892.25,1
2,Money Order,84312.29,84312.29,0.0,0.00,0.00,1
13,Money Order,55062.46,55062.46,0.0,0.00,0.00,1
17,Money Order,2984434.36,2984434.36,0.0,0.00,0.00,1
39,Cash Withdrawal,7240965.96,7240965.96,0.0,0.00,7240965.96,1
...,...,...,...,...,...,...,...
978,Cash Withdrawal,2163012.63,2163012.63,0.0,0.00,2163012.63,1
990,Cash Withdrawal,10000000.00,10000000.00,0.0,2571402.25,12571402.25,1
992,Money Order,188658.45,188658.45,0.0,0.00,0.00,1
994,Cash Withdrawal,59250.11,59250.11,0.0,1142307.70,1201557.81,1
998,Cash Withdrawal,10000000.00,10000000.00,0.0,0.00,10000000.00,1

### Non-Suspicious transactions in evaluation dataset

In [17]:
eval_df_with_result[eval_df_with_result["isSuspicious"] == 0]

,TransactionType,amount,PrevBalanceSender,CurrentBalanceSender,PrevBalanceReceiver,CurrentBalanceReceiver,isSuspicious
0,Card,2976.90,0.00,0.00,0.00,0.00,0
3,Cash Deposit,153757.28,1821016.76,1974774.04,759756.00,605998.72,0
4,Card,5182.58,21447.00,16264.42,0.00,0.00,0
5,Cash Withdrawal,130605.05,0.00,0.00,285788.50,416393.55,0
6,Cash Withdrawal,63594.41,317140.00,253545.59,0.00,63594.41,0
...,...,...,...,...,...,...,...
993,Cash Withdrawal,71653.18,144321.00,72667.82,1041450.28,1113103.46,0
995,Card,8803.92,12243.79,3439.87,0.00,0.00,0
996,Cash Deposit,24213.09,5071597.55,5095810.63,32619.98,8406.90,0
997,Card,5029.59,0.00,0.00,0.00,0.00,0
999,Card,11723.25,0.00,0.00,0.00,0.00,0